/* font family:Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Inter, system-ui;
    background-color: #d0cd94;
}

#Header {
    height: 15vh;
    width: 100%;
}

#Hero {
    height: 70vh;
    width: 100%;
}

#Footer {
    height: 15vh;
    width: 100%;
    border: 1px solid red;
}
